/* Css style for html.index */

.body1{
    background-color: black; 
}
.top{
    background-color: blueviolet;

}
.head1{
    
    position: relative;
    border-radius: 30px;
    border-width: 10px;
    color: orange;
    text-align: center;
    font-size: 80px;
}
.button1{
    display: inline-block;
    background-color: yellow;
    border-radius: 15px;
    border:solid black;
    padding: 15px 25px;
    font-size: 150%;
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}
.button2{
    display: inline-block;
    background-color: yellow;
    border-radius: 15px;
    border:solid black;
    padding: 15px 25px;
    font-size: 150%;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.button3{
    display: inline-block;
    background-color: yellow;
    border-radius: 15px;
    border:solid black;
    padding: 15px 25px;
    font-size: 150%;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.ul1{
    color: orange;
    font-size: 40px;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    color: pink;
/* Css style for Runza*/    
}
.headingrunza{
    text-align: center;
    color: brown;
    font-size: 80px;
    
}
.runzapic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}