/* Css style for html.index */

.body1{
    background-color: black; 
}
.top{
    display: flex;
    height: 75px;
    background-color: blueviolet;
    padding: 30px;
    border: 5px solid yellow;
    font-size: 300%;
    flex-wrap: wrap;
    
    
    
    
   



}
/*.top2{
    background-color: white;
    border: 50px;
    border-color: yellow;
    margin: 1px;
    padding: 0px;

}*/
.head1{
    justify-content: center;
    border-radius: 30px;
    border-width: 10px;
    color: orange;
    font-size: 80px;
    text-align: center;
    
    
}
.button1{
    
    color: yellow;
    border: 2px solid black;  
    flex: 1;
    text-align: Center;
    
}
.button2{
   color: yellow;
   border: 2px solid black;  
   flex: 1;
   text-align: center;
    
    
}
.button3{
    color: yellow;
    border: 2px solid black;  
    flex: 1;
    text-align: center;
    
    
}
.ul1{
    color: orange;
    font-size: 40px;
}
a:link{
    color: blue;
}


a:hover{
    color: pink;
/* Css style for Runza*/    
}
.link{
    text-decoration: none;
    color: orange;
}
.headingrunza{
    text-align: center;
    color: brown;
    font-size: 80px;
    text-decoration: none;
    
}
.runzapic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: noneS;
    
}