/* Css style for html.index */

.body1{
    background-color: White; 
}
.head1{
    border: 2px solid black;
    background-color: black;
    position: relative;
    border-radius: 30px;
    border-width: 10px;
    color: orange;
    text-align: center;
    font-size: 80px;
}
.ul1{
    color: orange;
    font-size: 40px;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    color: pink;
/* Css style for Runza*/    
}
.headingrunza{
    text-align: center;
    color: brown;
    font-size: 80px;
    
}
.runzapic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}